.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 1.25rem;
  color: #666;
}





.audio-btn {
    padding: 0.6rem 1.2rem;
    border: 2px solid #6c757d;
    background-color: transparent;
    color: #6c757d;
    
}